/*main window*/
.layers-3iHuyZ {
    margin: 1%;
    border-radius: 8px;
    border: 5px solid rgb(40, 39, 39);
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
}
/*watermark*/
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm {
    width: calc(100% - 84px);
    text-align: center;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm::after{
    content: var(--watermark-text);
    position: absolute;
    color: transparent;
    -webkit-background-clip: text;
    display: block;
    width: 100%;
    pointer-events: none;
    font-size: 20px;
    font-weight: 900;
    animation: Gradient 5s linear infinite;
    text-align: center;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg {
    display: none;
}
@keyframes Gradient { 
    0% {
        background-color: var(--watermark-color-2);
    }
    50% {
        background-color: var(--watermark-color-1);
    }
    100% {
        background-color: var(--watermark-color-2);
    }
}
/*homeButton color*/
#app-mount .wrapper-25eVIn foreignObject{
    border-radius: 8px;
    mask: none;
}
#app-mount .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background: var(--background-primary);
}
#app-mount .wrapper-25eVIn foreignObject:hover {
    border-radius: 10px;
}
.homeIcon-FuNwkv path{
    animation: rainbowhomeicon 5s linear infinite;
}
@keyframes rainbowhomeicon {
    0%   {fill: red;}
    16%  {fill: orange;}
    33%  {fill: yellow;}
    50%  {fill: lime;}
    58%  {fill: cyan;}
    66%  {fill: blue;}
    83%  {fill: magenta;}
    100% {fill: red;}
}