/*main window*/
.layers-3iHuyZ {
    margin: 1%;
    border-radius: 8px;
    border: 5px solid rgb(40, 39, 39);
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
}
/*watermark*/
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm {
    width: calc(100% - 84px);
    text-align: center;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm::after{
    content: var(--watermark-text);
    position: absolute;
    color: transparent;
    -webkit-background-clip: text;
    display: block;
    width: 100%;
    pointer-events: none;
    font-size: 20px;
    font-weight: 900;
    animation: Gradient 5s linear infinite;
    text-align: center;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg {
    display: none;
}
@keyframes Gradient { 
    0% {
        background-color: var(--watermark-color-2);
    }
    50% {
        background-color: var(--watermark-color-1);
    }
    100% {
        background-color: var(--watermark-color-2);
    }
}
/*avatars*/
.wrapper-3t9DeA foreignObject {
    mask: none;
    border-radius: 8px;
}
/*toolbar at the top of chat*/
.children-19S4PO {
    transition: 0.5s 0.1s;
    transform: translateY(-20px);
    opacity: 0;
}
.toolbar-1t6TWx {
    transition: 0.5s 0.1s;
    transform: translateY(-20px);
    opacity: 0;
}
.container-1r6BKw .children-19S4PO:hover, 
.container-1r6BKw  .toolbar-1t6TWx:hover {
    transform: translateY(0px);
    opacity: 1;
}
.container-1r6BKw {
    height: 0px !important;
}
.container-1r6BKw .children-19S4PO, .container-1r6BKw .toolbar-1t6TWx {
    padding: 5px;
    top: 25px;
    position: relative;
    background: var(--background-secondary-alt);
    border-radius: 7px;
}