/*main window*/
.layers-3iHuyZ {
    margin: 1%;
    border-radius: 8px;
    border: 5px solid rgb(40, 39, 39);
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
}
/*watermark*/
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm {
    width: calc(100% - 84px);
    text-align: center;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm::after{
    content: var(--watermark-text);
    position: absolute;
    color: transparent;
    -webkit-background-clip: text;
    display: block;
    width: 100%;
    pointer-events: none;
    font-size: 20px;
    font-weight: 900;
    animation: Gradient 5s linear infinite;
    text-align: center;
}
#app-mount .titleBar-AC4pGV .wordmark-2iDDfm svg {
    display: none;
}
@keyframes Gradient { 
    0% {
        background-color: var(--watermark-color-2);
    }
    50% {
        background-color: var(--watermark-color-1);
    }
    100% {
        background-color: var(--watermark-color-2);
    }
}
/*avatars*/
.wrapper-3t9DeA foreignObject {
    mask: none;
    border-radius: 8px;
}
/*toolbar at the top of chat*/
.children-19S4PO {
    transition: 0.5s 0.1s;
    transform: translateY(-20px);
    opacity: 0;
}
.toolbar-1t6TWx {
    transition: 0.5s 0.1s;
    transform: translateY(-20px);
    opacity: 0;
}
.container-1r6BKw .children-19S4PO:hover, 
.container-1r6BKw  .toolbar-1t6TWx:hover {
    transform: translateY(0px);
    opacity: 1;
}
.container-1r6BKw {
    height: 0px !important;
}
.container-1r6BKw .children-19S4PO, 
.container-1r6BKw .toolbar-1t6TWx {
    padding: 5px;
    top: 25px;
    position: relative;
    background: var(--background-secondary-alt);
    border-radius: 7px;
}
/*Chat icons*/
.sprite-2iCowe {
    filter: grayscale(0%) !important;
}
.stickerButton-3OEgwj {
    background: url("https://cdn.discordapp.com/attachments/751155896024826018/851923776672104518/stickers.png");
    background-size: 20px;
    background-position-x: 5px;
    background-position-y: 5px;
    background-repeat: no-repeat;
}
[aria-label="Open GIF picker"] .icon-3D60ES {
    background: url("https://cdn.discordapp.com/attachments/751155896024826018/851920865511079996/unknown.png");
    background-size: 20px;
    background-position-x: 2px;
    background-position-y: 4px;
    background-repeat: no-repeat;
}
[aria-label="Send a gift"] {
    background: url("https://cdn.discordapp.com/attachments/751155896024826018/851926915350134834/unknown.png");
    background-size: 25px;
    background-position-x: 13px;
    background-position-y: 15px;
    background-repeat: no-repeat;
}
.stickerButton-3OEgwj path,
[aria-label="Open GIF picker"] .button-318s1X path,
[aria-label="Send a gift"] .button-318s1X path {
    fill: transparent;
}
.sprite-2iCowe {
    background: url("https://cdn.discordapp.com/attachments/542030029861814284/806284153485000764/Pepe.png");
}
/*search bar*/
.focused-31_ccS .searchBar-3dMhjb, 
.open-6_Y_aH .searchBar-3dMhjb {
    width: 240px;
}
.searchBar-3dMhjb {
    width: 30px;
    transition: width 0.5s;
}
/*messages*/
.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: rgba(90, 90, 90, 0.5);
    display: inline-block;
    margin: 0;
    padding: 5px;
    border-radius: 8px;
}
.cozyMessage-3V1Y8y:hover {
    background-color: rgba(90, 90, 90, 0.1);
}