/*create/join server popup*/
.container-UC8Ug1 {
    background-color: var(--create-server-buttons);
}
.container-UC8Ug1:hover {
    background-color: var(--create-server-buttons-hover);
}
.container-1CE3eW .footer-2gL1pp {
    background-color: var(--user-popout);
}
/*upload popout*/
#app-mount .uploadModal-2ifh8j {
    background-color: var(--user-popout);
}
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: var(--user-popout);
}
/*search popout*/
#app-mount .elevationBorderHigh-2WYJ09 {
    background-color: var(--user-popout);
}
.option-96V44q {
    background-color: var(--search-buttons);
}
#app-mount .option-96V44q:after {
    background: linear-gradient(to left, var(--search-buttons), var(--search-gradient-2nd-color), var(--search-gradient-2nd-color));
}
#app-mount .option-96V44q.selected-rZcOL- {
    background-color: var(--search-buttons-hover);
}
#app-mount .option-96V44q.selected-rZcOL-:after {
    background: linear-gradient(to right, transparent, var(--search-gradient-2nd-color), var(--search-gradient-2nd-color));
}
/*autoComplete popup*/
#app-mount .selected-1Tbx07 {
    background-color: var(--autofill-option-hovered);
}
.categoryHeader-O1zU94 {
    background-color: var(--autofill-dividers);
}
#app-mount .autocomplete-1vrmpx {
    background-color: var(--user-popout);
}