/*this is for the dm list, channel list and guild list*/
.container-3baos1 {
    position: absolute;
    top: 0;
    width: 230px;
}
.sidebar-2K8pFh {
    margin-top: 52px;
    width: 240px !important;
}
.container-6sXIoE {
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 1px solid var(--background-modifier-accent);
}
.tutorialContainer-2sGCg9 {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-tertiary);
}
.tutorialContainer-2sGCg9::before {
    content: "";
    height: 10px;
    width: 100%;
    top: -10px;
    background-color: var(--background-tertiary);
    position: absolute;
}
#app-mount .content-1x5b-n, 
#app-mount .channel-2QD9_O .layout-2DM8Md {
    background-color: transparent;
}
.channel-2QD9_O:hover,
.containerDefault--pIXnN:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
/*homeButton color*/
#app-mount .wrapper-25eVIn foreignObject{
    border-radius: 8px;
    mask: none;
}
#app-mount .wrapper-1BJsBx .childWrapper-anI2G9 {
    animation: rainbowhomeicon-2 5s linear infinite;
}
#app-mount .wrapper-25eVIn foreignObject:hover {
    border-radius: 10px;
}
.homeIcon-FuNwkv path{
    animation: rainbowhomeicon 5s linear infinite;
}
@keyframes rainbowhomeicon {
    0%   {fill: red;}
    16%  {fill: orange;}
    33%  {fill: yellow;}
    50%  {fill: lime;}
    58%  {fill: cyan;}
    66%  {fill: blue;}
    83%  {fill: magenta;}
    100% {fill: red;}
}
@keyframes rainbowhomeicon-2 {
    0%   {background-color: rgba(255, 0, 0, 0.3);}
    16%  {background-color: rgba(255, 166, 0, 0.3);}
    33%  {background-color: rgba(255, 255, 0, 0.3);}
    50%  {background-color: rgba(0, 255, 0, 0.3);}
    58%  {background-color: rgba(0, 255, 255, 0.3);}
    66%  {background-color: rgba(0, 0, 255, 0.3);}
    83%  {background-color: rgba(255, 0, 255, 0.3);}
    100% {background-color: rgba(255, 0, 0, 0.3);}
}
/*numberbadge in server list*/
.listItem-GuPuDH:hover .numberBadge-2s8kKX {
    background-color: rgb(184, 184, 184) !important;
}
/*RGB + white border*/
.selected-3LIHYU,
.selected-aXhQR6 {
    border-radius: 0 8px 0 0;
    border-left: 1px solid white;
    background-color: var(--background-modifier-selected);
}
.selected-3LIHYU .content-1x5b-n,
.selected-aXhQR6 .layout-2DM8Md {
    background-color: transparent;
}
.selected-aXhQR6::after,
.selected-3LIHYU::after {
    content: "";
    width: 100%;
    height: 1px;
    margin-bottom:-1px;
    background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
    display: block;
    animation: gradient-border 4s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    position: relative;
    z-index: 1;
}
@keyframes gradient-border {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 130% 0;
    }
}